<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-1.7.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JOBEXPLORER", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Vacancies</a></li>
                    <li><a href="#">Resumes</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    @Html.AntiForgeryToken()

                    

                        
                        
                           using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                           @if (User.IsInRole("Admin"))
                                           {
                                                @Html.ActionLink("Manage", "Index", "Admin", routeValues: null, htmlAttributes: new { title = "Manage" });
                                           }
                                    </li>
                                    <li>
                                        @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
                                        {
                                        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Employee", routeValues: null, htmlAttributes: new { title = "Manage" });
                                        }
                                        else
                                        {
                                        if (User.IsInRole("Employer") || User.IsInRole("Admin"))
                                        {
                                        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Employer", routeValues: null, htmlAttributes: new { title = "Manage" });
                                        }
                                        }
                                    </li>
                                    
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
                                    
                                </ul>
                            }
                }
                else
                {
                            <ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign Up <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("As Employee", "RegisterEmployee", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                        <li>@Html.ActionLink("As Employer", "RegisterEmployer", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                    </ul>
                                </li>
                            </ul>
                            }
                        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                        <li>@Html.ActionLink("О программе", "About", "Home")</li>
                        <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
            </footer>
        </div>*@

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
